<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mental Health Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/mental_health_tracker.css" rel="stylesheet" type="text/css" />
    <script>
        function newPlayer() {
            PlayerName = document.getElementById("playerNameTxt").value;
            document.getElementById("playerName").innerHTML = PlayerName;
            return;
        }
    </script>
</head>
<body>
    <header>
        <img src="images/mental_health_tracker.jpg" alt="Health Tracker Image" height="150px" width="150px" style="float: left;">
        <form style="float: right;">
            <h1>Welcome <span id="playerName"></span>!</h1>
            <a class="logout" href="@Url.Action("Login", "Entry")">Log Out</a>
        </form>
        <h2>Mental Health Tracker</h2>
    </header>

    <section>
        <nav>
            <ul>
                <li><a href="@Url.Action("Index", "Entry")">View Overview of Entries</a></li>
                <li><a href="@Url.Action("Create", "Entry")">Edit Entry for Today</a></li>
                <li><a href="@Url.Action("Statistics", "Entry")">Statistics</a></li>
            </ul>
        </nav>

        <article>
            <label>Average Mood: <span id="averageMood"></span></label><br />
            <label>Best Mood: <span id="bestMood"></span></label><br />
            <label>Worst Mood: <span id="worstMood"></span></label><br />
            <label>Average Mood This Week: <span id="averageMoodWeek"></span></label><br />
            <label>Best Mood This Week: <span id="bestMoodWeek"></span></label><br />
            <label>Worst Mood This Week: <span id="worstMoodWeek"></span></label><br />
            <label>Average Mood This Month: <span id="averageMoodMonth"></span></label><br />
            <label>Best Mood This Month: <span id="bestMoodMonth"></span></label><br />
            <label>Worst Mood This Month: <span id="worstMoodMonth"></span></label><br />
        </article>
    </section>

    <footer>
        <p>This site brought to you by: Christina Buchwald, Alek Brown, Zachary Hayes, James Robbins, Thomas Strutt</p>
    </footer>

</body>
</html>
